*.iml
.gradle
/local.properties
/build
/gradlew
/gradlew.bat
/gradle/
/app/src/test/
/app/src/androidTest/
/app/.gitignore
/*/src/test/
/*/build/
/*/.externalNativeBuild/
/*/.cxx/
.idea
library/build
import-summary.txt
gradle.properties
app/build
