<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zjy.js.customdialog">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/loading_back"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ToolbarTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity"/>
        <activity android:name=".activity.AddPrintersActivity"/>
        <activity android:name=".activity.AdvancedPrintOptionsActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name="printer.activity.PickPicPrintingActivity"/>
        <activity android:name="printer.activity.SFActivity"/>
        <activity android:name="printer.activity.SetYundanActivity"/>
        <activity android:name="org.opencv.samples.imagemanipulations.ImageManipulationsActivity"/>
        <activity android:name="printer.activity.CameraActivity">
        </activity>

        <service
            android:name=".mqtt.ServiceMQTT"
            android:enabled="true">
        </service>
        <service android:name=".MyPrintService" />

        <activity android:name=".activity.FontSizeTestActivity">
        </activity>
        <activity android:name=".activity.OpenCvImgActivity">
        </activity>
        <activity android:name=".activity.QQBrowserTabActivity">
        </activity>
    </application>

</manifest>